{
	"singleQuote": true,
	"trailingComma": "none",
	"tabWidth": 2,
	"useTabs": true,
	"jsxSingleQuote": true,
	"arrowParens": "avoid",
	"printWidth": 100,
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/components/(.*)",
		"^@/hooks/(.*)",
		"^@/lib/(.*)",
		"^@/pages/(.*)",
		"^@/types/(.*)",
		"^@/utils/(.*)",
		"^@/assets/(.*)",
		"^@/constants/(.*)",
		"^@/context/(.*)",
		"^@/mocks/(.*)",
		"^@/public/(.*)",
		"^@/styles/(.*)",
		"^../../(.*)",
		"^../(.*)",
		"^./(.*)"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
